name: acceptance

on:
  push:
    branches:
      - main
  pull_request:

permissions:
  contents: read

jobs:
  acceptance:
    name: acceptance
    runs-on: ubuntu-latest

    steps:
      - name: checkout
        uses: actions/checkout@v6

      - uses: ruby/setup-ruby@4fc31e1c823882afd7ef55985266a526c589de90 # pin@v1.282.0
        with:
          bundler-cache: true

      - name: start acceptance stack
        run: docker compose -f docker-compose.acceptance.yml up -d --build

      - name: wait for acceptance stack
        run: sleep 3

      - name: acceptance
        run: script/acceptance
